/E-Commerce-war/nbproject/private/
/E-Commerce-ejb/nbproject/private/
/nbproject/private/
/E-Commerce-ejb/build/
/E-Commerce-ejb/dist/
/E-Commerce-war/dist/
/E-Commerce-war/build/
/E-Commerce-boutique/nbproject/private/
/E-Commerce-boutique/build/
/E-Commerce-boutique/dist/